<p>cas-pratique-v1 works!</p>

<h1>Premier cas :</h1>


<ul>
  <li *ngFor="let el of tableau; let i = index" [class.mt-4]="i > 0">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, unde.
  </li>
</ul>


<h1>Second cas</h1>



<ul class="list">
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, mollitia?
  </li>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, mollitia?
  </li>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, mollitia?
  </li>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, mollitia?
  </li>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, mollitia?
  </li>
</ul>
